# Godot 4+
.godot/
/android/

# Reste des Editors (Zwischenspeicher, Sicherungskopien)
*.tmp
*.tmp.*
~*

# Export
export_presets.cfg
/builds/
/export/

# Betriebssystem
Thumbs.db
desktop.ini
.DS_Store
